body{
    display: flex;
    flex-direction: column;
    padding : 20px;
    background-color: rgba(76, 76, 82, 0.199);
}
.header{
    align-self: center;
    background-color: aquamarine;
    width : 100%;
    display: flex;
    justify-content: center;
    border-radius: 75px;
}

.UI{
    display: flex;
    flex-direction: row;
    height:200px;
    gap : 100px;
    justify-content: center;
    padding : 50px;
}
.UI button{
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.616);
}
.UI  button img{
    width : 200px;
    height : 100px;
    flex : 1 0 auto;
}
.UI button:hover{
    border-color: aqua;
}
.UI img{
    width : 100%;
    height: 100%;
}
.results{
    flex : 1 1 auto;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    padding : 50px;
    gap: 50px;
    background-color: black;
    border-radius: 60px;

}
.side{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-self: stretch;
    background-color: white;
    width: 400px;
    border-radius: 10px;
}
.score{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: beige;
    padding : 40px;
    gap : 10px;
    border-radius: 10px;
}
